.CentrLogoTitle
{
    
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    margin-bottom: 70px;
    
}

h1
{     
    color:#00B39B;
    font-size: 40px;
    font-weight: 300;
    margin-top: 50px;
    font-weight: 400;
}


.country-select
{
    height: 40px;
    width:200px;
    border-radius: 8px;
   

}




